
canvas {
    border:1px solid #d3d3d3;
    background-color: antiquewhite;
    position: absolute;
    top: 100px;
    left: 390px
}
button {
    position: absolute;
    top: 420px;
    left: 650px;
    color:red;
}
h1{
    color: midnightblue;
    position: absolute;
    top: 430px;
    left: 460px;
}
